<md-table-container>
  <table md-table md-row-select="tableOptions.rowSelection" ng-model="selected" class="evaluations-table">
    <thead md-head>
    <tr md-row>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.VISIT_ID' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.SHOPPER' | translate }}
      </th>
      <th md-column class="small-padding"></th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.SUBJECT_OF_EVALUATION' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.EVALUATION_TYPE' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.SCRIPT' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.QUESTIONNAIRE_TEMPLATE' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.SUGGESTED_START_DATE' | translate }}
      </th>
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.SUGGESTED_END_DATE' | translate }}
      </th>
      <th md-column class="small-padding">
        {{ 'EVALUATION.TABLE.HEADER.SCORE' | translate }}
      </th>

      <!-- Evaluation statuses column -->
      <th md-column>
        {{ 'EVALUATION.TABLE.HEADER.STATUS' | translate }}
      </th>

      <!-- View details button column -->
      <th md-column></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row
        md-select="evaluation"
        md-select-id="{{evaluation.id}}"
        ng-model="selectedRows"
        md-auto-select="tableOptions.autoSelect"
        ng-repeat="evaluation in vm.evaluations track by $index"
        class="md-accent">
      <td md-cell>{{ evaluation.visit_id }}</td>
      <td md-cell>{{ evaluation.shopper_repr.user.fullName }}</td>
      <td md-cell class="small-padding">
        <div layout="row" layout-align="center center">
          <ng-md-icon icon="{{ evaluation.subjectOfEvaluation.icon }}" class="subject-of-evaluation-icon"></ng-md-icon>
        </div>
      </td>
      <td md-cell>{{ evaluation.subjectOfEvaluation.displayName }}</td>
      <td md-cell>{{ evaluation.evaluation_type }}</td>
      <td md-cell>{{ evaluation.questionnaire_script_repr.title }}</td>
      <td md-cell>{{ evaluation.questionnaire_repr.title }}</td>
      <td md-cell>{{ evaluation.suggested_start_date | date }}</td>
      <td md-cell>{{ evaluation.suggested_end_date | date }}</td>
      <td md-cell>{{ evaluation.questionnaire_repr.score || '' }}</td>

      <!-- Evaluation status badge -->
      <td md-cell class="small-padding">
        <md-chips class="evaluation-status-chips">
          <md-chip ng-class="evaluation.statusCssClass">
            {{ evaluation.status }}
          </md-chip>
        </md-chips>
      </td>

      <!-- View details button -->
      <td md-cell>
        <div layout="row" layout-align="center center">
          <md-button ng-click="vm.viewEvaluationDetails($event, evaluation)"
                     aria-label="{{ 'BUTTON.DETAILS' | translate }}"
                     class="md-primary md-icon-button">
            <ng-md-icon icon="my_library_books"></ng-md-icon>
          </md-button>

          <!-- Evaluation menu -->
          <!-- TODO add a translation to md-button aria-label -->
          <md-menu ng-if="vm.userCanManageEvaluations()">
            <md-button aria-label="Open evaluation menu"
                       class="md-icon-button"
                       ng-click="vm.openMenu($mdOpenMenu, $event)">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>

            <md-menu-content width="4">

              <md-menu-item>
                <md-button ng-click="vm.deleteEvaluation($event, evaluation)">
                  {{ 'EVALUATION.DELETE' | translate }}
                </md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</md-table-container>
