<md-content>
  {{ vm.entity | json }}

  <br/>

  <md-button ng-repeat="section in vm.entity.sections"
             ui-sref="companies.detail.departments.detail.entities.detail.sections.detail.view({sectionId: section.id})">
    {{ section.name }}
  </md-button>

  <hr/>

  <md-button ng-repeat="manager in vm.entity.managers"
             ui-sref="companies.detail.departments.detail.entities.detail.managers.detail.view({managerId: manager.id})">
    {{ manager.first_name }}
  </md-button>

  <hr/>

  <md-button ng-repeat="employee in vm.entity.employees"
             ui-sref="companies.detail.departments.detail.entities.detail.employees.detail.view({employeeId: employee.id})">
    {{ employee.first_name }}
  </md-button>

  <hr/>

  <md-button ui-sref="companies.detail.departments.detail.entities.detail.sections.create">
    Add section
  </md-button>

  <md-button ui-sref="companies.detail.departments.detail.entities.detail.managers.create">
    Add manager
  </md-button>

  <md-button ui-sref="companies.detail.departments.detail.entities.detail.employees.create">
    Add employee
  </md-button>

</md-content>
