<md-content layout="column" layout-padding>

  <div layout="row" layout-align="none center">
    <h2 class="md-display-1" flex>{{ vm.entity.name }}</h2>
    <div flex="none">
      <md-button ui-sref="companies.detail.departments.detail.entities.detail.edit({entityId: vm.entity.id, departmentId: vm.entity.department})"
                 class="md-primary md-raised">
        {{ 'BUTTON.EDIT' | translate }}
      </md-button>
    </div>
  </div>

  <h2 class="md-headline">
    {{ 'COMPANY.DEPARTMENT.ENTITY.STRUCTURE' | translate }}
  </h2>

  <ms-entity-view-component entity="vm.entity"></ms-entity-view-component>

  <div>
    <md-button ui-sref="companies.detail.departments.detail.entities.detail.sections.create" class="md-primary md-raised">
      {{ 'COMPANY.DEPARTMENT.ENTITY.ADD_SECTION' | translate }}
    </md-button>

    <md-button ui-sref="companies.detail.departments.detail.entities.detail.managers.create" class="md-primary md-raised">
      {{ 'COMPANY.ADD_MANAGER' | translate }}
    </md-button>

    <md-button ui-sref="companies.detail.departments.detail.entities.detail.employees.create" class="md-primary md-raised">
      {{ 'COMPANY.ADD_EMPLOYEE' | translate }}
    </md-button>
  </div>

</md-content>
