<div md-theme="toolbar">
  <md-toolbar layout="row" layout-align="end center" class="md-whiteframe-glow-z1">
    <div ng-show="vm.managementFlow.isCompanySelected()" layout="row" class="md-toolbar-tools">
      <h3>
        <strong>
          {{ vm.managementFlow.getCompany().name }}
        </strong>
      </h3>

      <md-button ui-sref="chooseCompany"
                 class="md-icon-button"
                 aria-label="{{ 'MANAGEMENT.CHANGE_COMPANY' | translate }}">
        <!-- ng-click="vm.sideMenu.unsetCurrentCompany()" -->
        <ng-md-icon icon="swap_horiz"></ng-md-icon>
      </md-button>
    </div>

    <span flex></span>

    <md-button ng-click="vm.logout()" class="md-primary">{{ 'BUTTON.LOGOUT' | translate }}</md-button>
  </md-toolbar>
</div>
