<md-dialog aria-label="{{ 'QUESTIONNAIRE.DIALOG.ADD_QUESTION' | translate }}">
  <form name="questionForm" ng-submit="saveQuestion(question, questionForm.$valid)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{ 'QUESTIONNAIRE.DIALOG.ADD_QUESTION' | translate }}
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="{{ 'COMMON.ACTIONS.CLOSE_DIALOG' | translate }}"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px;width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

        <!-- Single choice tab -->
        <md-tab ng-click="updateQuestionType('s')" label="{{ 'QUESTIONNAIRE.QUESTION.TYPE.SINGLE_CHOICE' | translate }}">
          <md-content class="md-padding" layout="column">

            <!-- Max score row -->
            <div layout="row">
              <span flex></span>
              <span>{{ 'QUESTIONNAIRE.QUESTION.MAX_SCORE' | translate : {MAX_SCORE: question.max_score} }}</span>
            </div>

            <md-input-container flex>
              <label>{{ 'QUESTIONNAIRE.QUESTION.QUESTION_BODY' | translate }}</label>
              <textarea ng-model="question.question_body"
                        name="question_body"
                        md-autofocus
                        columns="1"
                        rows="3"
                        ng-required="true"></textarea>

              <!-- Validation messages -->
              <div ng-messages="questionForm.question_body.$error">
                <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.QUESTION_BODY') }}</div>
              </div>
            </md-input-container>

            <md-subheader class="md-no-sticky">
              {{ 'QUESTIONNAIRE.QUESTION.CHOICES' | translate }}
            </md-subheader>

            <md-divider></md-divider>

            <!-- Question choices list -->
            <md-list>
              <md-list-item ng-repeat="choice in question.template_question_choices">

                <ng-form name="questionChoiceForm" layout="row" flex="100">

                  <!-- Choice text -->
                  <md-input-container md-no-float flex class="no-errors-spacer">
                    <input ng-model="choice.text" name="choiceText" type="text" placeholder="{{ 'QUESTIONNAIRE.QUESTION.CHOICE.BODY' | translate }}" ng-required="true" />

                    <!-- Validation messages -->
                    <div ng-messages="questionChoiceForm.choiceText.$error">
                      <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.CHOICE.BODY') }}</div>
                    </div>
                  </md-input-container>

                  <!-- Choice score -->
                  <md-input-container md-no-float flex="20" class="no-errors-spacer">
                    <input ng-model="choice.score" name="choiceScore" ng-change="question.updateMaxScore()" type="number" placeholder="{{ 'QUESTIONNAIRE.QUESTION.CHOICE.SCORE' | translate }}" ng-required="true" />

                    <!-- Validation messages -->
                    <div ng-messages="questionChoiceForm.choiceScore.$error">
                      <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.CHOICE.SCORE') }}</div>
                    </div>
                  </md-input-container>

                  <!-- Delete choice button -->
                  <span flex="none">
                    <md-button ng-click="removeChoice($index)" class="md-icon-button" aria-label="{{ 'BUTTON.REMOVE' | translate }}">
                      <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                  </span>

                </ng-form>
              </md-list-item>
            </md-list>

            <div>
              <md-button ng-click="addChoice()" class="md-primary md-raised">
                {{ 'QUESTIONNAIRE.ACTIONS.ADD_CHOICE' | translate }}
              </md-button>
            </div>

          </md-content>
        </md-tab>

        <!-- Multiple choice tab -->
        <md-tab ng-click="updateQuestionType('m')" label="{{ 'QUESTIONNAIRE.QUESTION.TYPE.MULTIPLE_CHOICE' | translate }}">
          <md-content class="md-padding" layout="column">

            <!-- Max score row -->
            <div layout="row">
              <span flex></span>
              <span>{{ 'QUESTIONNAIRE.QUESTION.MAX_SCORE' | translate : {MAX_SCORE: question.max_score} }}</span>
            </div>

            <md-input-container flex>
              <label>{{ 'QUESTIONNAIRE.QUESTION.QUESTION_BODY' | translate }}</label>
              <textarea ng-model="question.question_body"
                        name="question_body"
                        md-autofocus
                        columns="1"
                        rows="3"
                        ng-required="true"></textarea>

              <!-- Validation messages -->
              <div ng-messages="questionForm.question_body.$error">
                <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.QUESTION_BODY') }}</div>
              </div>
            </md-input-container>

            <md-subheader class="md-no-sticky">
              {{ 'QUESTIONNAIRE.QUESTION.CHOICES' | translate }}
            </md-subheader>

            <md-divider></md-divider>

            <!-- Question choices list -->
            <md-list>
              <md-list-item ng-repeat="choice in question.template_question_choices">

                <ng-form name="questionChoiceForm" layout="row" flex="100">

                  <!-- Choice text -->
                  <md-input-container md-no-float flex class="no-errors-spacer">
                    <input ng-model="choice.text" name="choiceText" type="text" placeholder="{{ 'QUESTIONNAIRE.QUESTION.CHOICE.BODY' | translate }}" ng-required="true" />

                    <!-- Validation messages -->
                    <div ng-messages="questionChoiceForm.choiceText.$error">
                      <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.CHOICE.BODY') }}</div>
                    </div>
                  </md-input-container>

                  <!-- Choice score -->
                  <md-input-container md-no-float flex="20" class="no-errors-spacer">
                    <input ng-model="choice.score" name="choiceScore" ng-change="question.updateMaxScore()" type="number" placeholder="{{ 'QUESTIONNAIRE.QUESTION.CHOICE.SCORE' | translate }}" ng-required="true" />

                    <!-- Validation messages -->
                    <div ng-messages="questionChoiceForm.choiceScore.$error">
                      <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.CHOICE.SCORE') }}</div>
                    </div>
                  </md-input-container>

                  <!-- Delete choice button -->
                  <span flex="none">
                    <md-button ng-click="removeChoice($index)" class="md-icon-button" aria-label="{{ 'BUTTON.REMOVE' | translate }}">
                      <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                  </span>

                </ng-form>
              </md-list-item>
            </md-list>

            <div>
              <md-button ng-click="addChoice()" class="md-primary md-raised">
                {{ 'QUESTIONNAIRE.ACTIONS.ADD_CHOICE' | translate }}
              </md-button>
            </div>

          </md-content>
        </md-tab>

        <!-- Text tab -->
        <md-tab ng-click="updateQuestionType('t')" label="{{ 'QUESTIONNAIRE.QUESTION.TYPE.TEXT' | translate }}">
          <md-content class="md-padding" layout="column">
            <md-input-container flex>
              <label>{{ 'QUESTIONNAIRE.QUESTION.QUESTION_BODY' | translate }}</label>
              <textarea ng-model="question.question_body"
                        name="question_body"
                        md-autofocus
                        columns="1"
                        rows="3"
                        ng-required="true"></textarea>

              <!-- Validation messages -->
              <div ng-messages="questionForm.question_body.$error">
                <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.QUESTION_BODY') }}</div>
              </div>
            </md-input-container>

            <md-subheader class="md-no-sticky">
              {{ 'QUESTIONNAIRE.QUESTION.TYPE.TEXT' | translate }}
            </md-subheader>

            <md-divider></md-divider>

            <md-input-container class="md-block">
              <label>{{ 'QUESTIONNAIRE.QUESTION.ANSWER' | translate }}</label>
              <textarea columns="1" rows="5" disabled></textarea>
            </md-input-container>
          </md-content>
        </md-tab>

        <!-- Date tab -->
        <md-tab ng-click="updateQuestionType('d')" label="{{ 'QUESTIONNAIRE.QUESTION.TYPE.DATE' | translate }}">
          <md-content class="md-padding" layout="column">
            <md-input-container flex>
              <label>{{ 'QUESTIONNAIRE.QUESTION.QUESTION_BODY' | translate }}</label>
              <textarea ng-model="question.question_body"
                        name="question_body"
                        md-autofocus
                        columns="1"
                        rows="3"
                        ng-required="true"></textarea>

              <!-- Validation messages -->
              <div ng-messages="questionForm.question_body.$error">
                <div ng-message="required">{{ msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.QUESTION.QUESTION_BODY') }}</div>
              </div>
            </md-input-container>

            <md-subheader class="md-no-sticky">
              {{ 'QUESTIONNAIRE.QUESTION.TYPE.DATE' | translate }}
            </md-subheader>

            <md-divider></md-divider>

            <div>
              <md-datepicker ng-model="date" md-placeholder="{{ 'COMMON.ACTIONS.ENTER_DATE' | translate }}" disabled></md-datepicker>
            </div>

          </md-content>
        </md-tab>

      </md-tabs>
    </md-dialog-content>


    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" class="md-primary md-raised">
        {{ 'BUTTON.SAVE' | translate }}
      </md-button>
      <md-button ng-click="cancel()" md-autofocus class="md-raised">
        {{ 'BUTTON.CANCEL' | translate }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
