<md-content>

  <h2 layout="row">
    {{ questionnaire.title }}
    <span flex></span>
    <span flex="none">
        {{ +questionnaire.score }}/{{ questionnaire.weight }}
      </span>
  </h2>

  <md-content layout-padding>
    {{ questionnaire.description }}
  </md-content>


  <md-content layout-padding>
    <ms-nested-questionnaire-block ng-repeat="block in questionnaire[questionnaire.childBlocksProp]"
                                   block="block"
                                   questionnaire="questionnaire"
                                   question-checkbox-list-options="questionCheckboxListOptions">
    </ms-nested-questionnaire-block>
  </md-content>
</md-content>
