<div layout="column" flex="100">
  <md-subheader>
    {{ clo.legendTitle }}
  </md-subheader>
  <div layout-padding>
    <div flex="100" flex-gt-sm="50" flex-gt-md="33" ng-repeat="element in vm.checkboxListElements">
      <md-checkbox ng-checked="vm.checkboxListState(element, vm.targetList, vm.checkboxItemValue(element, clo.valueProp))"
                   ng-click="vm.checkboxListToggle(element, vm.targetList, vm.checkboxItemValue(element, clo.valueProp))">
        {{ clo.labelProp ? vm.getCheckboxLabel(element, clo.labelProp) : element }}
      </md-checkbox>
    </div>

    <!-- Validation messages -->
    <div ng-show="clo.showValidationMessages" class="validation-messages">
      <div>{{ vm.msUtils.translation.genericRequiredQtyFieldMessage(clo.validationMessageEntity) }}</div>
    </div>

  </div>
</div>
