<md-content layout="row" layout-padding>

  <div ng-cloak flex>
    <form name="shoppersForm" ng-submit="vm.saveProjectMethod({project: vm.project, isValid: shoppersForm.$valid})" novalidate>

      <h2>
        {{ 'PROJECT.SHOPPERS_DISTRIBUTION' | translate }}
      </h2>

      <!--
      Shoppers
      -->
      <ms-checkbox-list checkbox-list-elements="vm.shoppers"
                        checkbox-list-options="vm.shoppersCheckboxListOptions"
                        target-list="vm.project.shoppers">
      </ms-checkbox-list>

      <md-button type="submit" class="md-primary md-raised" ng-show="vm.project.state === 3">
        {{ 'BUTTON.SAVE' | translate }}
      </md-button>
    </form>
  </div>
</md-content>
