<md-content layout="column" layout-padding>

  <div layout="row" layout-align="none center">
    <h2 class="md-display-1" flex>{{ vm.department.name }}</h2>
    <div flex="none">
      <md-button ui-sref="companies.detail.departments.detail.edit({departmentId: vm.department.id})"
                 class="md-primary md-raised">
        {{ 'BUTTON.EDIT' | translate }}
      </md-button>
    </div>
  </div>

  <h2 class="md-headline">
    {{ 'COMPANY.DEPARTMENT.STRUCTURE' | translate }}
  </h2>

  <ms-department-view-component department="vm.department"></ms-department-view-component>

  <div>
    <md-button ui-sref="companies.detail.departments.detail.entities.create" class="md-primary md-raised">
      {{ 'COMPANY.DEPARTMENT.ADD_ENTITY' | translate }}
    </md-button>

    <md-button ui-sref="companies.detail.departments.detail.managers.create" class="md-primary md-raised">
      {{ 'COMPANY.ADD_MANAGER' | translate }}
    </md-button>
  </div>
</md-content>
