{{ vm.department | json }}

<br/>
<md-button ng-repeat="entity in vm.department.entities"
           ui-sref="companies.detail.departments.detail.entities.detail.view({entityId: entity.id})">
  {{ entity.name }}
</md-button>

<hr/>

<md-button ng-repeat="manager in vm.department.managers"
           ui-sref="companies.detail.departments.detail.managers.detail.view({managerId: manager.id})">
  {{ manager.first_name }}
</md-button>
<hr/>

<md-button ui-sref="companies.detail.departments.detail.entities.create">
  Add entity
</md-button>

<md-button ui-sref="companies.detail.departments.detail.managers.create">
  Add manager
</md-button>
