<md-content layout="column" layout-padding>

  <div layout="row" layout-align="none center">
    <h2 class="md-display-1" flex>{{ vm.section.name }}</h2>
    <div flex="none">
      <md-button ui-sref="companies.detail.departments.detail.entities.detail.sections.detail.edit({sectionId: vm.section.id, entityId: vm.entity.id, departmentId: vm.department.id})"
                 class="md-primary md-raised">
        {{ 'BUTTON.EDIT' | translate }}
      </md-button>
    </div>
  </div>

  <h2 class="md-headline">
    {{ 'COMPANY.DEPARTMENT.ENTITY.SECTION.STRUCTURE' | translate }}
  </h2>

  <ms-section-view-component section="vm.section" department-id="vm.department.id"></ms-section-view-component>

  <div>
    <md-button ui-sref="companies.detail.departments.detail.entities.detail.sections.detail.managers.create" class="md-primary md-raised">
      {{ 'COMPANY.ADD_MANAGER' | translate }}
    </md-button>

    <md-button ui-sref="companies.detail.departments.detail.entities.detail.sections.detail.employees.create" class="md-primary md-raised">
      {{ 'COMPANY.ADD_EMPLOYEE' | translate }}
    </md-button>
  </div>

</md-content>
