<div layout="row">
  <p>{{ question.question_body }}</p>
</div>

<!-- If it is a single choice question, display a list with available radio button choices. -->
<md-radio-group ng-if="question.type === 's'" ng-model="question.answer_choices[0]">
  <md-radio-button ng-repeat="choice in question[questionnaire.questionChoicesProp]" ng-value="choice.id" class="md-primary">
    {{ choice.text }}
  </md-radio-button>
</md-radio-group>

<!-- If it is a multiple choice question, display a list with available checkboxes. -->
<div ng-if="question.type === 'm'">
  <ms-checkbox-list checkbox-list-elements="question[questionnaire.questionChoicesProp]"
                    checkbox-list-options="questionCheckboxListOptions"
                    target-list="question.answer_choices">
  </ms-checkbox-list>
</div>

<!-- If it is a text question, display a textarea. -->
<md-input-container ng-if="question.isTextQuestion" class="md-block">
  <label>{{ 'QUESTIONNAIRE.QUESTION.ANSWER' | translate }}</label>
  <textarea ng-model="question.answer" columns="1" rows="5"></textarea>
</md-input-container>

<!-- If it is a date question, display a datepicker widget. -->
<div ng-if="question.isDateQuestion">
  <md-datepicker ng-model="question.answer" md-placeholder="{{ 'COMMON.ACTIONS.ENTER_DATE' | translate }}"></md-datepicker>
</div>

<!-- Question comment textarea -->
<div ng-if="question.show_comment"  class="comment-wrapper">
  <md-input-container class="md-block">
    <label>{{ 'QUESTIONNAIRE.QUESTION.COMMENTS' | translate }}</label>
    <textarea ng-model="question.comment" columns="1" rows="5"></textarea>
  </md-input-container>
</div>
