<md-content layout="column" layout-padding>

  <h2 ng-show="vm.isNewEmployee">{{ 'COMPANY.NEW_EMPLOYEE' | translate }}</h2>
  <h2 ng-hide="vm.isNewEmployee">{{ 'COMPANY.EDIT_EMPLOYEE' | translate }}</h2>

  <div ng-cloak flex>
    <form name="employeeForm" ng-submit="vm.saveEmployee(vm.employee, employeeForm.$valid)" novalidate>

      <!--
      First Name
      -->
      <md-input-container class="md-block">
        <label>{{ 'ACCOUNT.FIRST_NAME' | translate }}</label>
        <input ng-model="vm.employee.first_name" name="first_name" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="employeeForm.$submitted" ng-messages="employeeForm.first_name.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.FIRST_NAME')}}</div>
        </div>
      </md-input-container>


      <!--
      Last Name
      -->
      <md-input-container class="md-block">
        <label>{{ 'ACCOUNT.LAST_NAME' | translate }}</label>
        <input ng-model="vm.employee.last_name" name="last_name" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="employeeForm.$submitted" ng-messages="employeeForm.last_name.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.LAST_NAME')}}</div>
        </div>
      </md-input-container>


      <!--
      Job Title
      -->
      <md-input-container class="md-block">
        <label>{{ 'ACCOUNT.JOB_TITLE' | translate }}</label>
        <input ng-model="vm.employee.job_title" name="job_title" type="text">
      </md-input-container>


      <md-button type="submit" class="md-primary md-raised">
        {{ vm.isNewEmployee ? ('BUTTON.CREATE' | translate) : ('BUTTON.SAVE' | translate) }}
      </md-button>
    </form>
  </div>
</md-content>
