md-toolbar.ms-height-md {
    min-height: 48px;
    height: 48px;
    max-height: 48px;
}

md-toolbar.ms-height-sm {
    min-height: 36px;
    height: 36px;
    max-height: 36px;
}

.questionnaire md-whiteframe {
    padding: 0;
}

.no-errors-spacer {
    margin: 9px 0;
}

.no-errors-spacer > .md-errors-spacer {
    min-height: 1px;
}

.comment-wrapper {
    border-top: 1px dashed #dddddd;
}