<md-content layout="column" layout-padding>

  <div layout="row" layout-align="none center">
    <h2 class="md-display-1" flex>
      {{ 'COMPANY.EMPLOYEE_OF' | translate : {PLACE_NAME: vm.place.name} }}
    </h2>
    <div flex="none">
      <md-button ng-click="vm.goToEmployeeDetailViewState()"
                 class="md-primary md-raised">
        {{ 'BUTTON.EDIT' | translate }}
      </md-button>
    </div>
  </div>

  <div layout="column" layout-padding>

    <span>
      {{ 'ACCOUNT.NAME' | translate }}: {{ vm.employee.fullName }}
    </span>

    <span>
      {{ 'COMPANY.JOB_TITLE' | translate : {TITLE: (vm.employee.job_title || '—')} }}
    </span>

  </div>
</md-content>
