<md-content layout-padding>
  <form name="questionnaireForm" ng-submit="vm.saveQuestionnaireTemplate(vm.questionnaireTemplate, questionnaireForm.$valid)" novalidate>
    <md-input-container class="md-block">
      <label>{{ 'QUESTIONNAIRE.TITLE' | translate }}</label>
      <input ng-model="vm.questionnaireTemplate.title" name="title" type="text" ng-required="true">

      <!-- Validation messages -->
      <div ng-show="questionnaireForm.$submitted" ng-messages="questionnaireForm.title.$error">
        <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('QUESTIONNAIRE.TITLE') }}</div>
      </div>
    </md-input-container>

    <p medium-editor
       ng-model="vm.questionnaireTemplate.description"
       bind-options="{'toolbar': {'buttons': ['bold', 'italic', 'underline']}}"
       data-placeholder="{{ 'QUESTIONNAIRE.DESCRIPTION' | translate }}"></p>

    <div class="questionnaire" layout-padding>

      <!--
      Level 1 blocks
      -->
      <md-whiteframe dragula="'block-1'"
                     dragula-model="vm.questionnaireTemplate.template_blocks"
                     class="md-whiteframe-2dp">

        <!-- Content container for each top level block -->
        <md-content ng-repeat="block_1 in vm.questionnaireTemplate.template_blocks"
                    flex="100">

          <!-- Block header -->
          <md-toolbar flex="100" class="ms-height-md">

            <!-- Header wrapper -->
            <h2 class="md-toolbar-tools handle-1" layout-align="left center" layout="row">

              <!-- Block title -->
              <span>
                {{ block_1.title }}
              </span>

              <!-- Empty span element to fill in the width of block header -->
              <span flex></span>

              <!-- Block weight -->
              <span>
                {{ ('QUESTIONNAIRE.BLOCK.WEIGHT' | translate) + ': ' + block_1.weightToDisplay }}
              </span>

              <!-- Other options menu -->
              <md-menu>
                <md-button aria-label="{{ 'QUESTIONNAIRE.OPEN_BLOCK_MENU' | translate }}"
                           class="md-icon-button"
                           ng-click="vm.openMenu($mdOpenMenu, $event)">
                  <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>

                <md-menu-content width="4">

                  <!-- Edit block -->
                  <md-menu-item>
                    <md-button ng-click="vm.showBlockTitleDialog($event, block_1, vm.questionnaireTemplate)">
                      {{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}
                    </md-button>
                  </md-menu-item>

                  <!-- Delete block -->
                  <md-menu-item>
                    <md-button ng-click="vm.deleteBlock($event, block_1, vm.questionnaireTemplate)">
                      {{ 'QUESTIONNAIRE.BLOCK.DELETE' | translate }}
                    </md-button>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>

            </h2>
          </md-toolbar>

          <!-- Block content container -->
          <md-content flex="100" layout="column" layout-padding>

            <!-- Block questions -->
            <div ng-repeat="question in block_1.template_questions">
              <ms-questionnaire-generic-question question="question" block="block_1"></ms-questionnaire-generic-question>
              <md-divider></md-divider>
            </div>

            <!--
            Level 2 blocks
            -->
            <md-whiteframe dragula="'block-2'"
                           dragula-model="block_1.template_blocks"
                           class="md-whiteframe-2dp">

              <!-- Content container for each top level block -->
              <md-content ng-repeat="block_2 in block_1.template_blocks"
                          flex="100">

                <!-- Block header -->
                <md-toolbar flex="100" class="ms-height-sm">

                  <!-- Header wrapper -->
                  <h2 class="md-toolbar-tools handle-2">

                    <!-- Block title -->
                    <span>
                      {{ block_2.title }}
                    </span>

                    <!-- Edit button -->
                    <md-button ng-click="vm.showBlockTitleDialog($event, block_2, block_1)"
                               class="md-icon-button">
                      <ng-md-icon icon="edit" size="18"
                                  class="md-icon-button-sm"
                                  aria-label="{{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}">
                      </ng-md-icon>
                    </md-button>

                    <!-- Empty span element to fill in the width of block header -->
                    <span flex></span>

                    <!-- Block weight -->
                    <span>
                      {{ ('QUESTIONNAIRE.BLOCK.WEIGHT' | translate) + ': ' + block_2.weightToDisplay }}
                    </span>

                    <!-- Other options menu -->
                    <md-menu>
                      <md-button aria-label="{{ 'QUESTIONNAIRE.OPEN_BLOCK_MENU' | translate }}"
                                 class="md-icon-button"
                                 ng-click="vm.openMenu($mdOpenMenu, $event)">
                        <ng-md-icon icon="more_vert"></ng-md-icon>
                      </md-button>

                      <md-menu-content width="4">

                        <md-menu-item>
                          <md-button ng-click="vm.deleteBlock($event, block_2, block_1)">
                            {{ 'QUESTIONNAIRE.BLOCK.DELETE' | translate }}
                          </md-button>
                        </md-menu-item>

                      </md-menu-content>
                    </md-menu>
                  </h2>
                </md-toolbar>

                <!-- Block content container -->
                <md-content flex="100" layout="column" layout-padding>

                  <!-- Block questions -->
                  <div ng-repeat="question in block_2.template_questions">
                    <ms-questionnaire-generic-question question="question" block="block_2"></ms-questionnaire-generic-question>
                    <md-divider></md-divider>
                  </div>

                  <!--
                  Level 3 blocks
                  -->
                  <md-whiteframe dragula="'block-3'"
                                 dragula-model="block_2.template_blocks"
                                 class="md-whiteframe-2dp">

                    <!-- Content container for each top level block -->
                    <md-content ng-repeat="block_3 in block_2.template_blocks"
                                flex="100">

                      <!-- Block header -->
                      <md-toolbar flex="100" class="ms-height-sm">

                        <!-- Header wrapper -->
                        <h2 class="md-toolbar-tools handle-3">

                          <!-- Block title -->
                          <span>
                            {{ block_3.title }}
                          </span>

                          <!-- Edit button -->
                          <md-button ng-click="vm.showBlockTitleDialog($event, block_3, block_2)"
                                     class="md-icon-button">
                            <ng-md-icon icon="edit" size="18"
                                        class="md-icon-button-sm"
                                        aria-label="{{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}">
                            </ng-md-icon>
                          </md-button>

                          <!-- Empty span element to fill in the width of block header -->
                          <span flex></span>

                          <!-- Block weight -->
                          <span>
                            {{ ('QUESTIONNAIRE.BLOCK.WEIGHT' | translate) + ': ' + block_3.weightToDisplay }}
                          </span>

                          <!-- Other options menu -->
                          <md-menu>
                            <md-button aria-label="{{ 'QUESTIONNAIRE.OPEN_BLOCK_MENU' | translate }}"
                                       class="md-icon-button"
                                       ng-click="vm.openMenu($mdOpenMenu, $event)">
                              <ng-md-icon icon="more_vert"></ng-md-icon>
                            </md-button>

                            <md-menu-content width="4">

                              <md-menu-item>
                                <md-button ng-click="vm.deleteBlock($event, block_3, block_2)">
                                  {{ 'QUESTIONNAIRE.BLOCK.DELETE' | translate }}
                                </md-button>
                              </md-menu-item>

                            </md-menu-content>
                          </md-menu>
                        </h2>
                      </md-toolbar>

                      <!-- Block content container -->
                      <md-content flex="100" layout-padding>

                        <!-- Block questions -->
                        <div ng-repeat="question in block_3.template_questions">
                          <ms-questionnaire-generic-question question="question" block="block_3"></ms-questionnaire-generic-question>
                          <md-divider></md-divider>
                        </div>

                      </md-content>

                      <section layout="row">
                        <span flex></span>
                        <md-button ng-click="vm.showAddQuestionDialog($event, block_3, true)"
                                   class="md-fab md-mini md-primary"
                                   aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}">
                          <ng-md-icon icon="playlist_add"></ng-md-icon>

                          <!-- Tooltip -->
                          <md-tooltip md-direction="top">
                            {{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}
                          </md-tooltip>
                        </md-button>
                      </section>

                    </md-content>

                  </md-whiteframe>

                </md-content>

                <section layout="row">
                  <span flex></span>
                  <md-button ng-click="vm.showAddQuestionDialog($event, block_2, true)"
                             class="md-fab md-mini md-primary"
                             aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}">
                    <ng-md-icon icon="playlist_add"></ng-md-icon>

                    <!-- Tooltip -->
                    <md-tooltip md-direction="top">
                      {{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}
                    </md-tooltip>
                  </md-button>
                  <md-button ng-click="vm.addBlock($event, block_2)"
                             class="md-fab md-mini md-primary"
                             aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}">
                    <ng-md-icon icon="my_library_add"></ng-md-icon>

                    <!-- Tooltip -->
                    <md-tooltip md-direction="top">
                      {{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}
                    </md-tooltip>
                  </md-button>
                </section>

              </md-content>

            </md-whiteframe>

          </md-content>

          <section layout="row">
            <span flex></span>
            <md-button ng-click="vm.showAddQuestionDialog($event, block_1, true)"
                       class="md-fab md-mini md-primary"
                       aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}">
              <ng-md-icon icon="playlist_add"></ng-md-icon>

              <!-- Tooltip -->
              <md-tooltip md-direction="top">
                {{ 'QUESTIONNAIRE.ACTIONS.ADD_QUESTION' | translate }}
              </md-tooltip>
            </md-button>
            <md-button ng-click="vm.addBlock($event, block_1)"
                       class="md-fab md-mini md-primary"
                       aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}">
              <ng-md-icon icon="my_library_add"></ng-md-icon>

              <!-- Tooltip -->
              <md-tooltip md-direction="top">
                {{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}
              </md-tooltip>
            </md-button>
          </section>

        </md-content>

      </md-whiteframe>

    </div>


    <section layout="row" ng-show="vm.questionnaireTemplate.id">
      <span flex></span>
      <md-button ng-click="vm.addBlock($event, vm.questionnaireTemplate)"
                 class="md-fab md-mini md-primary"
                 aria-label="{{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}">
        <ng-md-icon icon="my_library_add"></ng-md-icon>

        <!-- Tooltip -->
        <md-tooltip md-direction="top">
          {{ 'QUESTIONNAIRE.ACTIONS.ADD_BLOCK' | translate }}
        </md-tooltip>

      </md-button>
    </section>

    <md-button ng-show="vm.questionnaireTemplate.title" type="submit" class="md-primary md-raised">
      {{ 'BUTTON.SAVE' | translate }}
    </md-button>

  </form>
</md-content>
