<md-content layout="row" layout-padding>

  <div ng-cloak flex>
    <form name="projectForm" ng-submit="vm.saveProjectMethod({project: vm.project, isValid: projectForm.$valid})" novalidate>

      <!--
      Company select
      -->
      <!--<md-input-container class="md-block" flex-gt-xs>-->
        <!--<label>{{ 'PROJECT.CLIENT' | translate}}</label>-->
        <!--<md-select ng-model="vm.project.company" name="company" ng-required="true">-->
          <!--<md-option ng-repeat="company in vm.companies" ng-value="company.id">-->
            <!--{{ company.name }}-->
          <!--</md-option>-->
        <!--</md-select>-->

        <!--&lt;!&ndash; Validation messages &ndash;&gt;-->
        <!--<div ng-show="projectForm.$submitted" ng-messages="projectForm.company.$error">-->
          <!--<div ng-message="required">Company is required!</div>-->
        <!--</div>-->
      <!--</md-input-container>-->

      <h2>
        {{ 'PROJECT.PRIMARY_INFO' | translate }}
      </h2>

      <!--
      Dates row
      -->
      <div layout="row">
        <div layout="column">
          <!--
          Start date datepicker
          -->
          <label ng-style="{'font-size':'12px', 'color': 'rgb(117, 117, 117)'}" for="projectStartDate">{{ 'PROJECT.START_DATE' | translate }}</label>
          <div>
            <md-datepicker id="projectStartDate"
                           name="period_start"
                           ng-model="vm.project.start_date"
                           md-placeholder="{{ 'PROJECT.PLACEHOLDER.START_DATE' | translate }}"
                           ng-required="true">
            </md-datepicker>

            <!-- Validation messages -->
            <div ng-show="projectForm.$submitted" class="validation-messages" ng-messages="projectForm.period_start.$error">
              <div ng-message="valid">{{ 'VALIDATION_MESSAGE.DATE.INVALID' | translate }}</div>
              <div ng-message="required">{{ vm.msUtils.translation.genericRequiredFieldMessage('PROJECT.PLACEHOLDER.START_DATE') }}</div>
            </div>
          </div>
        </div><!-- End of layout="column" -->

        <!--
        End date datepicker
        -->
        <div layout="column" class="margin-left-md">
          <label ng-style="{'font-size':'12px', 'color': 'rgb(117, 117, 117)'}" for="projectEndDate">{{ 'PROJECT.END_DATE' | translate }}</label>
          <div>
            <md-datepicker id="projectEndDate"
                           name="period_end"
                           ng-model="vm.project.end_date"
                           md-placeholder="{{ 'PROJECT.PLACEHOLDER.END_DATE' | translate }}"
                           ng-required="true">
            </md-datepicker>

            <!-- Validation messages -->
            <div ng-show="projectForm.$submitted" class="validation-messages" ng-messages="projectForm.period_end.$error">
              <div ng-message="valid">{{ 'VALIDATION_MESSAGE.DATE.INVALID' | translate }}</div>
              <div ng-message="required">{{ vm.msUtils.translation.genericRequiredFieldMessage('PROJECT.PLACEHOLDER.END_DATE') }}</div>
            </div>
          </div>
        </div><!-- End of layout="column" -->
      </div><!-- End of layout="row" -->

      <!--
      Project manager select
      -->
      <md-input-container class="md-block" flex-gt-sm>
        <label>{{ 'PROJECT.PROJECT_MANAGER' | translate }}</label>
        <md-select ng-model="vm.project.project_manager" name="project_manager" required>
          <md-option ng-repeat="projectManager in vm.projectManagers" ng-value="projectManager.id">
            {{ projectManager.user.fullName }}
          </md-option>
        </md-select>

        <!-- Validation messages -->
        <div ng-show="projectForm.$submitted" ng-messages="projectForm.project_manager.$error">
          <div ng-message="required">{{ vm.msUtils.translation.genericRequiredFieldMessage('PROJECT.PROJECT_MANAGER') }}</div>
        </div>
      </md-input-container>


      <!--
      List of Project Workers
      -->
      <div class="md-block" flex-gt-sm>
        <ms-checkbox-list checkbox-list-elements="vm.tenantConsultants"
                          checkbox-list-options="vm.consultantsCheckboxListOptions"
                          target-list="vm.project.consultants">
        </ms-checkbox-list>
      </div>

      <md-button type="submit" class="md-primary md-raised" ng-show="vm.project.state === 0">
        {{ vm.project.id ? ('BUTTON.SAVE' | translate) : ('BUTTON.CREATE' | translate) }}
      </md-button>
    </form>
  </div>
</md-content>
