<md-content layout="column" layout-padding>

  <h2 ng-show="vm.isNewShopper">{{ 'SHOPPER.NEW_SHOPPER' | translate }}</h2>
  <h2 ng-hide="vm.isNewShopper">{{ 'SHOPPER.EDIT_SHOPPER' | translate }}</h2>

  <div ng-cloak flex>
    <form name="shopperForm" ng-submit="vm.saveShopper(vm.shopper, shopperForm.$valid)" novalidate>

      <!--
      Username
      -->
      <md-input-container class="md-block" flex-gt-sm>
        <label>{{ 'ACCOUNT.USERNAME' | translate }}</label>
        <input ng-model="vm.shopper.user.username" name="username" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.username.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.USERNAME')}}</div>
        </div>
      </md-input-container>

      <!--
      Email
      -->
      <md-input-container class="md-block" flex-gt-sm>
        <label>{{ 'ACCOUNT.EMAIL' | translate }}</label>
        <input ng-model="vm.shopper.user.email" name="email" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.email.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.EMAIL')}}</div>
        </div>
      </md-input-container>

      <!-- First and Last names block -->
      <div layout-gt-sm="row">

        <!--
        First Name
        -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{ 'ACCOUNT.FIRST_NAME' | translate }}</label>
          <input ng-model="vm.shopper.user.first_name" name="first_name" type="text" ng-required="true">

          <!-- Validation messages -->
          <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.first_name.$error">
            <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.FIRST_NAME')}}</div>
          </div>
        </md-input-container>

        <!--
        Last Name
        -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{ 'ACCOUNT.LAST_NAME' | translate }}</label>
          <input ng-model="vm.shopper.user.last_name" name="last_name" type="text" ng-required="true">

          <!-- Validation messages -->
          <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.last_name.$error">
            <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.LAST_NAME')}}</div>
          </div>
        </md-input-container>

      </div>

      <!-- Password and Confirm password block -->
      <div layout-gt-sm="row">

        <!--
        Password
        -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{ 'ACCOUNT.PASSWORD' | translate }}</label>
          <input ng-model="vm.shopper.user.password"
                 ng-minlength="8"
                 name="password"
                 type="password"
                 ng-required="vm.passwordRequired">

          <!-- Validation messages -->
          <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.password.$error">
            <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.PASSWORD')}}</div>
            <div ng-message="minlength">{{ 'VALIDATION_MESSAGE.PASSWORD.MIN_LENGTH' | translate }}</div>
          </div>
        </md-input-container>

        <!--
        Confirm password
        -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{ 'ACCOUNT.CONFIRM_PASSWORD' | translate }}</label>
          <input ng-model="vm.shopper.user.confirm_password"
                 ng-minlength="8"
                 match="vm.shopper.user.password"
                 name="confirm_password"
                 type="password"
                 ng-required="vm.passwordRequired">

          <!-- Validation messages -->
          <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.confirm_password.$error">
            <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.CONFIRM_PASSWORD')}}</div>
            <div ng-message="minlength">{{ 'VALIDATION_MESSAGE.PASSWORD.MIN_LENGTH' | translate }}</div>
            <div ng-message="match">{{ 'VALIDATION_MESSAGE.PASSWORD.PASSWORDS_DO_NOT_MATCH' | translate }}</div>
          </div>
        </md-input-container>

      </div>


      <div layout="row" layout-padding>

        <!--
        Gender
        -->
        <div>
          <md-subheader>{{ 'COMMON.GENDER.HEADING' | translate }}</md-subheader>

          <md-input-container class="no-errors-spacer">
            <md-radio-group ng-model="vm.shopper.gender" name="gender" ng-required="true">
              <md-radio-button class="md-primary" value="m">{{ 'COMMON.GENDER.MALE' | translate }}</md-radio-button>
              <md-radio-button class="md-primary" value="f">{{ 'COMMON.GENDER.FEMALE' | translate }}</md-radio-button>
            </md-radio-group>

            <!-- Validation messages -->
            <div ng-show="shopperForm.$submitted" ng-messages="shopperForm.gender.$error">
              <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMMON.GENDER.HEADING') }}</div>
            </div>
          </md-input-container>
        </div>

        <!--
        Birth date
        -->
        <div>
          <md-subheader>{{ 'ACCOUNT.BIRTH_DATE' | translate }}</md-subheader>

          <div>
            <md-datepicker id="birthDate"
                           name="date_of_birth"
                           ng-model="vm.shopper.birth_date"
                           md-placeholder="{{ 'ACCOUNT.BIRTH_DATE' | translate }}"
                           ng-required="true">
            </md-datepicker>

            <!-- Validation messages -->
            <div ng-show="shopperForm.$submitted" class="validation-messages" ng-messages="shopperForm.date_of_birth.$error">
              <div class="datepicker-validation-error-message" ng-message="valid">{{ 'VALIDATION_MESSAGE.DATE.INVALID' | translate }}</div>
              <div class="datepicker-validation-error-message" ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('ACCOUNT.BIRTH_DATE')}}</div>
            </div>
          </div>
        </div>

      </div>

      <!--
      Details
      -->
      <md-subheader>{{ 'ACCOUNT.DETAILS' | translate }}</md-subheader>

      <!--
      Has drivers license
      -->
      <div layout-padding>
        <md-checkbox ng-model="vm.shopper.has_drivers_license"
                     aria-label="{{ 'SHOPPER.HAS_DRIVERS_LICENSE' | translate }}">
          {{ 'SHOPPER.HAS_DRIVERS_LICENSE' | translate }}
        </md-checkbox>
      </div>


      <md-button type="submit" class="md-primary md-raised">
        {{ vm.isNewShopper ? ('BUTTON.CREATE' | translate) : ('BUTTON.SAVE' | translate) }}
      </md-button>
    </form>
  </div>
</md-content>
