<!-- Not setting style with width and height will result in not displaying correctly-->
<div flex="100">
  <md-button ng-click="vm.addWidget()">
    Add widget
  </md-button>
  <div gridster="vm.gridsterOpts">
    <ul>
      <!-- TODO replace inline style with a class of some sort -->
      <li layout="row" style="background-color: #fff;"
          class="md-whiteframe-3dp"
          gridster-item="widget.position"
          ng-repeat="widget in vm.widgets">

        <md-toolbar flex="100" class="ms-height-sm">
          <div class="md-toolbar-tools">
            <h2>
              <span>{{widget.title}}</span>
            </h2>
            <span flex></span>

            <md-button class="md-icon-button" aria-label="Set input data" ng-click="vm.showSettingsDialog($event, widget)">
              <md-icon class="material-icons">settings</md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Delete widget" ng-click="vm.deleteWidget(widget)">
              <md-icon class="material-icons">delete</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <div flex style="height: 80%">
          <nvd3 options="vm.chartOptions" data="widget.data" api="widget.api">

          </nvd3>
        </div>

      </li>

    </ul>
  </div>
</div>
