<md-content layout="row" layout-padding>

  <div ng-cloak flex>
    <form name="methodologyForm" ng-submit="vm.saveProjectMethod({project: vm.project, isValid: methodologyForm.$valid})" novalidate>

      <!--
      List of places and people
      -->
      <ms-nested-checkbox-list nested-checkbox-list-items="vm.project.company_repr"
                               nested-checkbox-list-options="vm.listOfPlacesAndPeopleNestedCheckboxListOptions"
                               project="vm.project">
      </ms-nested-checkbox-list>

      <md-button type="submit" class="md-primary" ng-show="vm.project.state === 2">
        {{ 'BUTTON.SAVE' | translate  }}
      </md-button>
    </form>
  </div>
</md-content>

<div ui-view></div>
