<md-content layout="row" layout-padding>

  <div ng-cloak flex>
    <form name="methodologyForm">
      <!--<div layout-gt-xs="row">-->


      <!--
      List of places and people
      -->
      <ms-nested-checkbox-list nested-checkbox-list-items="vm.project.company_repr"
                               nested-checkbox-list-options="vm.listOfPlacesAndPeopleNestedCheckboxListOptions"
                               target-lists="vm.listOfPlacesAndPeopleLists">
      </ms-nested-checkbox-list>

      {{ vm.listOfPlacesAndPeopleLists.place | json }}
      <hr/>
      {{ vm.listOfPlacesAndPeopleLists.person | json }}
      <hr/>
      {{ vm.listOfPlacesAndPeopleLists.ignored | json }}

      <md-button type="submit" class="md-primary">Submit</md-button>
    </form>
  </div>
</md-content>

<div ui-view></div>
