<div layout="row">
  <p>
    {{ vm.question.question_body }}
  </p>

  <span flex></span>

  <p ng-show="vm.question.isMultipleChoiceQuestion">
    {{ 'QUESTIONNAIRE.QUESTION.MAX_SCORE' | translate : {MAX_SCORE: vm.question.max_score} }}
  </p>

  <p ng-show="vm.question.isChoiceQuestion" class="margin-left-md">
    {{'QUESTIONNAIRE.QUESTION.WEIGHT' | translate}}: {{vm.question.weightToDisplay | number : 2}}
  </p>

  <!-- Other options menu -->
  <md-menu>
    <md-button aria-label="{{ 'QUESTIONNAIRE.OPEN_QUESTION_MENU' | translate }}"
               class="md-icon-button"
               ng-click="vm.openMenu($mdOpenMenu, $event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>

    <md-menu-content width="3">

      <!-- Edit block -->
      <md-menu-item>
        <md-button ng-click="vm.showEditQuestionDialog($event, vm.question, false)">
          {{ 'QUESTIONNAIRE.QUESTION.EDIT' | translate }}
        </md-button>
      </md-menu-item>

      <!-- Delete block -->
      <md-menu-item ng-if="!vm.isLink">
        <md-button ng-click="vm.deleteQuestion($event, vm.question)">
          {{ 'QUESTIONNAIRE.QUESTION.DELETE' | translate }}
        </md-button>
      </md-menu-item>

      <md-menu-item ng-if="vm.isLink">
        <md-button ng-click="vm.removeQuestionFromCrossIndex($event, vm.question, vm.crossIndexParent)">
          {{ 'QUESTIONNAIRE.QUESTION.REMOVE_FROM_CROSS_INDEX' | translate }}
        </md-button>
      </md-menu-item>

      <md-menu-divider></md-menu-divider>

      <!-- Add to cross-index block -->
      <md-menu-item ng-repeat="crossIndex in vm.questionnaire.cross_index_templates">
        <md-button ng-click="vm.addToCrossIndex(vm.questionnaire, vm.question, crossIndex)">
          Add to {{crossIndex.title}}
        </md-button>
      </md-menu-item>

    </md-menu-content>
  </md-menu>

</div>

<!-- If it is a choice question, display a list with available choices. -->
<md-list ng-if="vm.question.isChoiceQuestion">
  <md-list-item ng-repeat="choice in vm.question.template_question_choices">
    <ng-md-icon ng-if="vm.question.type === 'm'" icon="check_box"></ng-md-icon>
    <ng-md-icon ng-if="vm.question.type === 's'" icon="radio_button_on"></ng-md-icon>
    <span flex>
      {{ choice.text }}  {{ 'QUESTIONNAIRE.QUESTION.SCORE_AND_WEIGHT' | translate : {SCORE: choice.score, WEIGHT: choice.weight} }}
    </span>
  </md-list-item>
</md-list>

<!-- If it is a text question, display a textarea. -->
<md-input-container ng-if="vm.question.isTextQuestion" class="md-block">
  <label>{{ 'QUESTIONNAIRE.QUESTION.ANSWER' | translate }}</label>
  <textarea ng-model="vm.question.answer" columns="1" rows="5" disabled></textarea>
</md-input-container>

<!-- If it is a date question, display a datepicker widget. -->
<div ng-if="vm.question.isDateQuestion">
  <md-datepicker ng-model="vm.question.answer"
                 md-placeholder="{{ 'COMMON.ACTIONS.ENTER_DATE' | translate }}"
                 disabled></md-datepicker>
</div>
