<div layout="row">
  <p>
    {{ vm.question.question_body }}

    <!-- Edit button -->
    <md-button ng-click="vm.showEditQuestionDialog($event, vm.question, false)"
               class="md-icon-button">
      <ng-md-icon icon="edit" size="18"
                  class="md-icon-button-sm"
                  aria-label="{{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}">
      </ng-md-icon>
    </md-button>
  </p>

  <span flex></span>

  <p ng-show="vm.question.isChoiceQuestion">
    {{ 'QUESTIONNAIRE.QUESTION.MAX_SCORE' | translate : {MAX_SCORE: vm.question.max_score} }}
  </p>

  <!-- Other options menu -->
  <md-menu>
    <md-button aria-label="{{ 'QUESTIONNAIRE.OPEN_QUESTION_MENU' | translate }}"
               class="md-icon-button"
               ng-click="vm.openMenu($mdOpenMenu, $event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>

    <md-menu-content width="4">

      <md-menu-item>
        <md-button ng-click="vm.deleteQuestion($event, vm.question)">
          {{ 'QUESTIONNAIRE.QUESTION.DELETE' | translate }}
        </md-button>
      </md-menu-item>

    </md-menu-content>
  </md-menu>

</div>

<!-- If it is a choice question, display a list with available choices. -->
<md-list ng-if="vm.question.isChoiceQuestion">
  <md-list-item ng-repeat="choice in vm.question.template_question_choices">
    <ng-md-icon ng-if="vm.question.type === 'm'" icon="check_box"></ng-md-icon>
    <ng-md-icon ng-if="vm.question.type === 's'" icon="radio_button_on"></ng-md-icon>
    <span flex>
      {{ choice.text }}  {{ 'QUESTIONNAIRE.QUESTION.SCORE_AND_WEIGHT' | translate : {SCORE: choice.score, WEIGHT: choice.weight} }}
    </span>
  </md-list-item>
</md-list>

<!-- If it is a text question, display a textarea. -->
<md-input-container ng-if="vm.question.isTextQuestion" class="md-block">
  <label>{{ 'QUESTIONNAIRE.QUESTION.ANSWER' | translate }}</label>
  <textarea ng-model="vm.question.answer" columns="1" rows="5" disabled></textarea>
</md-input-container>

<!-- If it is a date question, display a datepicker widget. -->
<div ng-if="vm.question.isDateQuestion">
  <md-datepicker ng-model="vm.question.answer"
                 md-placeholder="{{ 'COMMON.ACTIONS.ENTER_DATE' | translate }}"
                 disabled></md-datepicker>
</div>
