<div layout="row">
  <p flex>{{ vm.question.question_body }}</p>
  <p>Max score: {{ vm.question.max_score }}</p>
</div>

<!-- If it is a choice question, display a list with available choices. -->
<md-list ng-if="vm.question.isChoiceQuestion">
  <md-list-item ng-repeat="choice in vm.question.choices">
    <ng-md-icon ng-if="vm.question.typeIdentifier === 'm'" icon="check_box"></ng-md-icon>
    <ng-md-icon ng-if="vm.question.typeIdentifier === 's'" icon="radio_button_on"></ng-md-icon>
    <span flex>
      {{ choice.body }}  (weight - {{ choice.weight }})
    </span>
  </md-list-item>
</md-list>

<!-- If it is a text question, display a textarea. -->
<md-input-container ng-if="vm.question.isTextQuestion" class="md-block">
  <label>Answer</label>
  <textarea ng-model="vm.question.answer" columns="1" rows="5" disabled></textarea>
</md-input-container>

<!-- If it is a date question, display a datepicker widget. -->
<div ng-if="vm.question.isDateQuestion">
  <md-datepicker ng-model="vm.question.answer" md-placeholder="Enter date" disabled></md-datepicker>
</div>
