<md-content>
  {{ vm.companyManager | json }}

  <hr/>

  <div layout="row" layout-align="none center">
    <h2 flex>
      Manager of {{ vm.place.name }}
    </h2>
    <div flex="none">
      <md-button ng-click="vm.goToManagerDetailViewState()">
        Edit
      </md-button>
    </div>
  </div>

  <div layout="row" layout-padding>

    <div layout="column">
      {{ vm.manager.first_name + ' ' + vm.manager.last_name }}
    </div>

    <div layout="column">
      {{ vm.manager.job_title }}
    </div>

  </div>
</md-content>
