<md-content class="autoScroll" layout-padding layout="column" flex layout-align="center center">

  <h2 class="md-display-1">
    {{ 'BUTTON.LOGIN' | translate }}
  </h2>
  <form role="form" name="authenticationForm" ng-submit="vm.login()" novalidate>

    <md-input-container md-no-float class="md-block md-has-icon">
      <label>{{ 'COMMON.USERNAME' | translate }}</label>
      <input ng-model="vm.username"
             name="username"
             type="text"
             ng-required="true">

      <!-- Validation messages -->
      <div ng-show="authenticationForm.$submitted" ng-messages="authenticationForm.username.$error">
        <div ng-message="required">{{ vm.msUtils.translation.genericRequiredFieldMessage('COMMON.USERNAME') }}</div>
      </div>
    </md-input-container>

    <md-input-container md-no-float class="md-block md-has-icon">
      <label>{{ 'COMMON.PASSWORD' | translate }}</label>
      <input ng-model="vm.password"
             name="password"
             type="password"
             ng-required="true">

      <!-- Validation messages -->
      <div ng-show="authenticationForm.$submitted" ng-messages="authenticationForm.password.$error">
        <div ng-message="required">{{ vm.msUtils.translation.genericRequiredFieldMessage('COMMON.PASSWORD') }}</div>
      </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">
      {{ 'BUTTON.LOGIN' | translate }}
    </md-button>
  </form>
</md-content>
