<md-content layout="column" layout-padding>

  <!--<md-toolbar>-->
    <!--<div class="md-toolbar-tools">-->
      <!--<h2 class="md-flex">{{ vm.company.name }}</h2>-->
    <!--</div>-->
  <!--</md-toolbar>-->

  <div layout="row" layout-align="none center">
    <h2 class="md-display-1" flex>{{ vm.company.name }}</h2>
    <div flex="none">
      <md-button ui-sref="companies.detail.edit({id: vm.company.id})"
                 class="md-primary md-raised">
        {{ 'BUTTON.EDIT' | translate }}
      </md-button>
    </div>
  </div>

  <div layout="row">

    <div layout="column" flex="100" flex-gt-sm="50">
      <h4>{{ 'COMPANY.INDUSTRY' | translate }}</h4>
      <span>{{ vm.company.industry_repr.name }}</span>
    </div>

    <div layout="column" flex="100" flex-gt-sm="50">
      <h4>{{ 'COMPANY.COUNTRY' | translate }}</h4>
      <span>{{ vm.company.country_repr.name }}</span>
    </div>

  </div>

  <md-divider class="margin-top-lg"></md-divider>

  <div layout="row">

    <div layout="column" flex>
      <h4>{{ 'COMPANY.CONTACT_PERSON' | translate }}</h4>
      <span>{{ vm.company.contact_person }}</span>
    </div>

    <div layout="column" flex>
      <h4>{{ 'COMPANY.CONTACT_PHONE' | translate }}</h4>
      <span>{{ vm.company.contact_phone }}</span>
    </div>

    <div layout="column" flex>
      <h4>{{ 'COMPANY.CONTACT_EMAIL' | translate }}</h4>
      <span>{{ vm.company.contact_email }}</span>
    </div>

  </div>

  <h2 class="md-headline">
    {{ 'COMPANY.COMPANY_STRUCTURE' | translate }}
  </h2>

  <div layout="column" class="company-hierarchy-container">
    <ms-department-view-component ng-repeat="department in vm.company.departments_repr"
                                  department="department">
    </ms-department-view-component>
  </div>

  <md-button ui-sref="companies.detail.departments.create" class="md-primary md-raised">
    {{ 'COMPANY.ADD_DEPARTMENT' | translate }}
  </md-button>

</md-content>
