<md-content layout="column" layout-padding>

  <h2 ng-show="vm.isNewEntity">{{ 'COMPANY.DEPARTMENT.ENTITY.NEW_ENTITY' | translate }}</h2>
  <h2 ng-hide="vm.isNewEntity">{{ 'COMPANY.DEPARTMENT.ENTITY.EDIT_ENTITY' | translate }}</h2>

  <div ng-cloak flex>
    <form name="entityForm" ng-submit="vm.saveEntity(vm.entity, entityForm.$valid)" novalidate>

      <!--
      City select
      -->
      <md-autocomplete md-input-name="city"
                       md-no-cache="vm.noCache"
                       md-selected-item="vm.entity.city_repr"
                       md-search-text="vm.searchText"
                       md-selected-item-change="vm.selectedCityChange(item)"
                       md-items="item in vm.querySearch(vm.searchText)"
                       md-item-text="item.name"
                       md-min-length="2"
                       ng-required="true"
                       md-floating-label="{{ 'COMMON.CITY' | translate }}">
        <md-item-template>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>

        <!-- Validation messages -->
        <div ng-show="entityForm.$submitted" ng-messages="entityForm.city.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMMON.CITY')}}</div>
        </div>
      </md-autocomplete>

      <!--<md-input-container class="md-block" flex-gt-sm>-->
        <!--<label>{{ 'COMMON.CITY' | translate }}</label>-->
        <!--<md-select ng-model="vm.entity.city" ng-change="vm.citySelected(vm.cities, vm.entity.city)" name="city" ng-required="true">-->
          <!--<md-option ng-repeat="city in vm.cities" ng-value="city.id">-->
            <!--{{ city.name }}-->
          <!--</md-option>-->
        <!--</md-select>-->

        <!--&lt;!&ndash; Validation messages &ndash;&gt;-->
        <!--<div ng-show="entityForm.$submitted" ng-messages="entityForm.city.$error">-->
          <!--<div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMMON.CITY')}}</div>-->
        <!--</div>-->
      <!--</md-input-container>-->


      <!--
      Sector select
      -->
      <md-input-container class="md-block" flex-gt-sm ng-if="vm.sectors.length">
        <label>{{ 'COMMON.SECTOR' | translate }}</label>
        <md-select ng-model="vm.entity.sector" name="city" ng-required="true">
          <md-option ng-repeat="sector in vm.sectors" value="{{ sector.id }}">
            {{ sector.name }}
          </md-option>
        </md-select>

        <!-- Validation messages -->
        <div ng-show="entityForm.$submitted" ng-messages="entityForm.sector.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMMON.SECTOR')}}</div>
        </div>
      </md-input-container>


      <!--
      Entity name
      -->
      <md-input-container class="md-block">
        <label>{{ 'COMPANY.DEPARTMENT.ENTITY.NAME' | translate }}</label>
        <input ng-model="vm.entity.name" name="name" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="entityForm.$submitted" ng-messages="entityForm.name.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMPANY.DEPARTMENT.ENTITY.NAME')}}</div>
        </div>
      </md-input-container>


      <!--
      Entity address
      -->
      <md-input-container class="md-block">
        <label>{{ 'COMMON.ADDRESS' | translate }}</label>
        <input ng-model="vm.entity.address" name="address" type="text" ng-required="true">

        <!-- Validation messages -->
        <div ng-show="entityForm.$submitted" ng-messages="entityForm.address.$error">
          <div ng-message="required">{{ vm.msUtils.validation.translatedFieldMessage('COMMON.ADDRESS')}}</div>
        </div>
      </md-input-container>


      <!--
      Geographical coordinates
      -->
      <div layout-gt-xs="row">
        <!-- TODO Add a validator to check whether both latitude and longitude are set before saving -->
        <!-- Latitude-->
        <md-input-container class="md-block" flex-gt-xs>
          <label>{{ 'COMMON.LATITUDE' | translate }}</label>
          <input ng-model="vm.entity.latitude" name="latitude" type="text">
        </md-input-container>

        <!-- Longitude-->
        <md-input-container class="md-block" flex-gt-xs>
          <label>{{ 'COMMON.LONGITUDE' | translate }}</label>
          <input ng-model="vm.entity.longitude" name="longitude" type="text">
        </md-input-container>
      </div>

      <!-- TODO add a google map and an input field to set the ZOOM parameter to save for the specific coordinates -->

      <md-button type="submit" class="md-primary md-raised">
        {{ 'BUTTON.SAVE' | translate }}
      </md-button>
    </form>
  </div>
</md-content>
