<div layout="column">
  <md-checkbox ng-checked="vm.checkboxState(vm.project, currentItem, rclo, vm.checkboxItemValue(currentItem, rclo.itemValueProp))"
               ng-click="vm.checkboxToggle(vm.project, currentItem, rclo, vm.checkboxItemValue(currentItem, rclo.itemValueProp))">
      {{ rclo.itemLabelProp ? vm.getCheckboxLabel(currentItem, rclo.itemLabelProp) : vm.recursiveCheckboxItem }}
    <!--({{ rclo.itemsProp }})-->
  </md-checkbox>
</div>

<div style="padding-left: 30px;" ng-repeat="childOptions in rclo.children">
  <ms-recursive-checkbox-list ng-repeat="item in vm.recursiveCheckboxItem[childOptions.itemsProp]"
                              recursive-checkbox-item="item"
                              recursive-checkbox-list-options="childOptions"
                              project="vm.project">
  </ms-recursive-checkbox-list>
</div>
