<md-dialog aria-label="{{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{ 'QUESTIONNAIRE.DIALOG.EDIT_BLOCK_TITLE' | translate }}
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="{{ 'COMMON.ACTIONS.CLOSE_DIALOG' | translate }}"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>
          {{ 'QUESTIONNAIRE.DIALOG.DEFINE_BLOCK_TITLE' | translate }}
        </h2>
        <md-input-container>
          <label>{{ placeholder }}</label>
          <input ng-model="title" md-autofocus type="text"/>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="setTitle(title)">
        {{ 'QUESTIONNAIRE.DIALOG.SET_TITLE' | translate }}
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        {{ 'BUTTON.CANCEL' | translate }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

