<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

  <!--<header style="background-color: white;" ng-show="sideMenu.isCompanySelected()" class="nav-header">-->
    <!--<div layout="row" layout-align="space-between center">-->
      <!--<md-subheader>-->
        <!--Managed company-->
      <!--</md-subheader>-->

      <!--<md-button>-->
        <!--Change-->
      <!--</md-button>-->
    <!--</div>-->
    <!--<h3 layout="row" layout-align="center center">-->
      <!--<span>-->
        <!--{{ sideMenu.getCompany().name }}-->
      <!--</span>-->
    <!--</h3>-->
  <!--</header>-->

  <md-content flex role="navigation">
    <ul class="docs-menu">
      <li ng-repeat="section in sideMenu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
        <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name }}">
          {{section.name}}
        </h2>
        <menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>

        <menu-action section="section" ng-if="section.type === 'action' && !section.hidden"></menu-action>

        <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>

        <ul ng-if="section.children" class="menu-nested-list">
          <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
            <menu-link section="child" ng-if="child.type === 'link'"></menu-link>

            <menu-action section="child" ng-if="child.type === 'action'"></menu-action>

            <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
  <ms-navbar></ms-navbar>
  <!--<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar"></md-toolbar>-->

  <md-content md-scroll-y layout="column" flex>
    <div ui-view></div>
  </md-content>

</div>
